Data/eqbaB_eqbaC_GP_C2_N1_M1000.jld2
Data/eqbaB_eqbaC_GP_C3_N1_M1000.jld2
BHO_conduct_README.tex
BHO_conduct_README.synctex.gz
.DS_Store
.DS_Store
.DS_Store
/CJE-2025-020Appendix
/CJE-2025-020Manuscript
/CJE-2025-020Replication
/Manuscript
CJE-2025-020Appendix.zip
CJE-2025-020Manuscript.zip
CJE-2025-020Replication.zip
